.content{
  font-family: 'IM Fell DW Pica', serif;
  background-color: rgb(248,245,239);
  color: rgb(230,158,48);
}

.btn{
  display: block;
  margin: 0px, 15px;
  text-align: center;
  color: white;
  border: 1px solid;
  border-radius: 20px;
  margin-bottom: 25px;
  width: 60%;
 }

.btn-mini {
  height: 20px;
  padding: 1px, 4px;
  font-size: 100%;
  margin-bottom: 10px;
}

.btn-small {
  height: 50px;
  padding: 2px, 6px;
  font-size: 120%;
  margin-bottom: 17px;
}

.btn-large{
  height: 75px;
  padding: 3px, 8px;
  font-size: 150%;
}

.btn-default {
  background: rgb(33,106,216);
  border-color:rgb(23,5,112);
  border-bottom-color: rgb(112,86,237);
}

.btn-success {
  background: rgb(81,195,89);
  border-color: rgb(44,136,11);
  border-bottom-color: rgb(54,170,13)
}

.btn-warning {
  background: rgb(250,233,89);
  border-color:rgb(255,156,0);
  border-bottom-color:rgb(245,207,55);
  color: black;
}

.btn-danger {
  background: rgb(247,36,36);
  border-color:rgb(192,54,0);
  border-bottom-color:rgb(224,80,24);
}

.btn-boring {
  background: white;
  color: black;
  border-bottom-color:rgb(203,203,202);
}