/****Reset***/
.background{
	background-color: rgb(248,245,239);
}

body{
  font-family: 'IM Fell DW Pica', serif;
  background-color: rgb(248,245,239);
  color: rgb(230,158,48);
  font-size:20px;
}


h1 {
	font-family: 'IM Fell DW Pica', serif;
	font-size: 40px;
	font-weight: 900;
	color: rgb(95,88,71);
	padding: 0;
	margin: 0;
}

h2 {
	margin: 10px 0;
	padding: 0;
	font-size: 22px;
	font-family: 'IM Fell DW Pica', serif;
	font-weight: 700;
}

h4 {
	margin: 0;
	font-size: 20px;
	font-family: 'IM Fell DW Pica', serif;
	font-weight: bold;
}

a {
	color: rgb(95,88,71);
	border-radius: 3px;
	text-decoration: bold;
}
a:hover {
	background-color: #eee;
}

.header{
  font-size: 200%;
  margin-top: 30px;
  text-align: center;
}

.accent-lettering{
	color:rgb(95,88,71);
    margin-bottom:30px;
    text-align: center;
}

p{
	text-align: justify;
	padding: 0;
	margin: 15px 0;
}


.p2{
	color:rgb(95,88,71);
}

li{
  display: inline;
  margin-top:100px;
  margin-bottom:100px;
  margin-right:50px;
  margin-left:50px;
}

.primary-nav{
	background-color:rgb(224,217,203);
	padding-top:5px;
	padding-bottom:5px;
	margin-top:20px;
	margin-bottom: 30px;
	text-align: center;
	border:2px dotted;
	border-color: rgb(95,88,71);
	font-size: 105%;
	
}

a:link {color:rgb(230,158,48);}      /* unvisited link */
a:visited {color:rgb(230,158,48);}  /* visited link */
a:hover {color:rgb(95,88,71);}  /* mouse over link */
a:active {color:rgb(230,158,48);}  /* selected link */
a{text-decoration: none;}

.box-set {
  background: #e8eae9;
}

.box {
  float: left;
  margin: 10px;
  width: 300px;
  border: 2px solid;
  border-color:rgb(95,88,71);
  text-align: left;
 }

.box-1{
	height: 300px;
	background-image: url('golf_3.jpg');
	background-repeat:no-repeat;
	margin-left:75px;
}

.box-1:hover{
	background-image: url('golf_2.jpg');
	background-repeat:no-repeat;
}

.box-2, .box-3{
	height: 300px;
	background-color: rgb(224,217,203);
	margin-bottom: 50px
}

.box-4{
	height: 300px;
	background-image: url('SMC.jpg');
	background-repeat:no-repeat;
	margin-left:75px;
}

.box-5, .box-6{

	background-color: rgb(224,217,203);
	margin-bottom: 50px
}

.box-extended{
	height: 200px;
	width:;
	background-color: rgb(224,217,203);
	margin-bottom: 50px
}


footer{
	background-color:rgb(224,217,203);
 	bottom: 0;
 	left:0;
 	position:fixed;
 	right: 0;
 	width:100%;
	height:80px;
 	clear: both;
 	margin-top: -3em;
	padding-top:5px;
	padding-bottom:5px;
	text-align: center;
	border-top:2px dotted;
	border-color: rgb(95,88,71);
	font-size: 105%;

}